<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/slick.css">
	<title>Crew member</title>
</head>
<body>

	<!-- Navigation -->
	<nav class="site-navigation">
		<div class="site-navigation-inner site-container">
			<img src="./img/logo.png" alt="site logo">
			<div class="main-navigation">
				<ul class="main-navigation__ul">
					<li><a href="#">Homepage</a></li>
			</div>
			<script>
				function myFunction(x) {
					x.classList.toggle("change");
				}
			</script>

		</div>
	</nav>
	<!-- Navigation end -->

	<!-- Top banner -->
	<section class="fh5co-top-banner">
		<div class="top-banner__inner site-container">
			<div class="top-banner__image">
				<img src="./img/captauwal.png" alt="author image">
			</div>
			<div class="top-banner__text">
				<div class="top-banner__text-down">
					<h2 class="top-banner__h2">Captain Auwal</h2>
					<span class="brand-span">Drifter</span>
				</div>
				<a href="/about" class="brand-button">Know more > </a>
			</div>
		</div>
	</section>
	<!-- Top banner end -->
    
    <div class="footer-bottom">
			<div class="site-container footer-bottom-inner">
				<p>© 2021 MMP | Design by <a href="https://pyeramids.herokuapp.com" target="_blank">PYERAMID</a> | All rights Reserved.</p>
			</div>
		</div>
	</footer>
	<!-- Footer end -->

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>