<!DOCTYPE html>
  <head>
    <title>Drift HuntersNg Galleria</title>
    <meta name="keywords" content="" />
	<meta name="description" content="" />
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/templatemo_misc.css">
    <link href="css/templatemo_style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
      
    <script src="js/jquery-1.10.2.min.js"></script> 
	<script src="js/jquery.lightbox.js"></script>
	<script src="js/templatemo_custom.js"></script>
    <script>
    function showhide()
    {
    	var div = document.getElementById("newpost");
		if (div.style.display !== "none")
		{
			div.style.display = "none";
		}
		else {
			div.style.display = "block";
		}
    }
  	</script>

  </head>
  <body>
  	<div class="site-header">
		<div class="main-navigation">
			<div class="responsive_menu">
				<ul>
					<li><a class="show-1 templatemo_home" href="#">Gallery</a></li>
					<li><a class="show-2 templatemo_page2" href="#">Home</a></li>
				</ul>
			</div>
			<div class="container">
				<div class="row templatemo_gallerygap">
					<div class="col-md-12 responsive-menu">
						<a href="#" class="menu-toggle-btn">
				            <i class="fa fa-bars"></i>
				        </a>
					</div> <!-- /.col-md-12 -->
                    <div class="col-md-3 col-sm-12">
                    	<a href="/"><img src="img/logo.png" alt="Polygon HTML5 Template"></a>
                    </div>
					<div class="col-md-9 main_menu">
						<ul>
							<li><a class="show-1 templatemo_home" href="#">
                            	<span class="fa fa-camera"></span>
                                Gallery</a></li>
							<li><a href="/">
                            	<span class="fa fa-users"></span>
                          		  Home</a></li>
						</ul>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.main-navigation -->
	</div> <!-- /.site-header -->
    <div id="menu-container">
    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
    <div class="container">
	    <div class="row templatemorow">
    		<div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/tYnBr9z/g1.jpg);">
             	 	<div class="overlay">
						<a href="https://i.ibb.co/tYnBr9z/g1.jpg" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/hc1V0ZD/g2.png);">
              	<div class="overlay">
						<a href="https://i.ibb.co/hc1V0ZD/g2.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/tJQ0snW/g3.png);">
              	<div class="overlay">
						<a href="https://i.ibb.co/tJQ0snW/g3.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/FsYcHDK/g4.png);">
              	<div class="overlay">
						<a href="https://i.ibb.co/FsYcHDK/g4.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/9YmWYsd/g5.png);">
              		<div class="overlay">
						<a href="https://i.ibb.co/9YmWYsd/g5.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  	     <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/JKG4tJQ/g6.png);">
              		<div class="overlay">
						<a href="https://i.ibb.co/JKG4tJQ/g6.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
     <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/P94kb4z/g7.png);">
              		<div class="overlay">
						<a href="https://i.ibb.co/P94kb4z/g7.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/zbkxh43/g8.png);">
              		<div class="overlay">
						<a href="https://i.ibb.co/zbkxh43/g8.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
      	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/f0GXX22/g9.png);">
              		<div class="overlay">
						<a href="https://i.ibb.co/f0GXX22/g9.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    	</div>
	</div>
    <div  id="newpost" style="display:none;" class="container answer_list templatemo_gallerytop">
	    <div class="row templatemorow">
    		<div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/NSLMbWW/g10.png);">
              	 	<div class="overlay">
						<a href="https://i.ibb.co/NSLMbWW/g10.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/5h47dw5/g11.png);">
              	<div class="overlay">
						<a href="https://i.ibb.co/5h47dw5/g11.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(img/gallery/jij.png);">
              	<div class="overlay">
						<a href="img/gallery/jij.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/HXHrHbZ/jbb.png);">
              	<div class="overlay">
						<a href="https://i.ibb.co/HXHrHbZ/jbb.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="hex col-sm-6  templatemo-hex-top2">
    	<div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url(https://i.ibb.co/4gTJphT/g12.png);">
              	<div class="overlay">
						<a href="https://i.ibb.co/4gTJphT/g12.png" data-rel="lightbox" class="fa fa-expand"></a>
					</div>
              </div>
            </div>
          </div>
        </div>
    </div>
      </div>
      </div>
    	</div>
	</div>
    <div class="container">
    	<div class="row">
        	<div class="templatemo_loadmore">
			 <button class="gallery_more" id="button" onClick="showhide()">Load More</button>
            </div>
        </div>
    </div>
    </div>
      <!-- gallery end -->
    	<!-- footer start -->
    <div class="templatemo_footer">
    	<div class="container">
    	<div class="row">
        	<div class="col-md-9 col-sm-12">
            	<span>Copyright &copy; 2021 MMP | Design: Pyeramid</span>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- footer end -->    
	<script>
	$('.gallery_more').click(function(){
		var $this = $(this);
		$this.toggleClass('gallery_more');
		if($this.hasClass('gallery_more')){
			$this.text('Load More');			
		} else {
			$this.text('Load Less');
		}
	});
    </script>
  </body>
</html>