<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The drift crew</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/light-box.css">
        <link rel="stylesheet" href="css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    <nav>
        <div class="logo">
            <a href="/">DRIFT<em>HUNTERSNG</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>



    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>DRIFT HUNTERSNG CREW</h2>
                    <span>We've been drifting, but we've never rebelled without a cause. </span>
                    <p>Our aim is to provide the best platform and workforce to fully meet the various motor sport needs,  and to build a friendly conducive climate appreciated in this modern age. This can be achieved not only by the drift team, but also by the crew which will shoulder the responsibility of always working dedicatedly towards achieving collective and formidable success. Being a member of the crew comes with it commitments and privilege like having accesss to stake holder meetings etc. For the available crew member positions, kindly check below.</p>
                </div>
                <div class="pricing-tables">
                  <div class="container">
                      <div class="col-md-4 col-sm-6">
                          <div class="table-item">
                              <h4>N50,000/mo</h4>
                              <ul>
                                <li>Events Coordinator</li>
                                  <li>Sales & Marketing Strategist</li>
                              </ul>
                              <div class="simple-btn">
                                  <a href="#">Sign up</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>





    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2021 MMP 
    
    | Designed by Pyeramid</p>
            </div>
        </div>
    </footer>


    
    <script>
      function submitEmailForm(form){
          var obj = new XHLHttpRequest();
          obj.onsteadystatechange = function (){
              if(obj.readyState == 4){
                  if(obj.status == 200){
                      var x = JSON.parse(obj.responseText);
                      alert(x.message);
                  }
                  else {
                      alert("XMLHttp Status: " + obj.status + "; " +obj.statusText);
                  }
              }
          };
          obj.open("post", form.action, true);
          obj.setRequestHeader("Content-Type", "application/json");
          obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, message: form.message.valu}));
          return false;
      }
  </script>


    <!-- Modal button -->
  <div class="popup-icon">
    <button id="modBtn" class="modal-btn"><img src="img/contact-icon.png" alt=""></button>
  </div>  

  <!-- Modal -->
  <div id="modal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="header-title">Say hello to <em>DriftHuntersNG</em></h3>
        <div class="close-btn"><img src="img/close_contact.png" alt=""></div>    
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="col-md-6 col-md-offset-3">
          <form  action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
              <div class="row">
                  <div class="col-md-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                    </fieldset>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                  <a href="/mabat">Crew Membership</a>
              </li>
              <li>
                  <a href="/gallery">Gallery</a>
              </li>
              <li>
              <a href="/contact">Contact us</a>
          </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
